{% extends 'layout.html' %}

{% block pageTitle %}
Question page
{% endblock %}

{% block beforeContent %}

  <style>
      
      .app-example__heading {
        border: 0;
        left: -1px;
        position: absolute;
        top: -1px;
      }

      .app-example__heading_2 {
        border: 1 #212B32;
        left: -1px;
        position: absolute;
        top: -1px;
        border-color: #212B32;
        background: white;
        color: #212B32;
      }


      .nhsuk-card__content {
        margin-top: 5px;
      }

  </style>
{% endblock %}

{% block content %}
<div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">

          <div class="nhsuk-panel">
            <h1 class="nhsuk-panel__title" style="text-align: left;">
              Check complete
            </h1>
            <div class="nhsuk-panel__body" style="text-align: left;">
              Based on what you've told us, you could get help to pay for your NHS costs
            </div>
          </div>



          <div class="nhsuk-card nhsuk-card--care nhsuk-card--care--non-urgent">
          
            <div class="nhsuk-card__content">

              <strong class="nhsuk-tag app-example__heading">Recommended for you</strong>

                <h2 class="nhsuk-heading-m" style="margin-top: 10px;">
                    NHS Low Income Scheme
                  </h2>

                  <p>Because you get help from your local council to pay for your care home, you may qualify for the NHS Low Income Scheme.</p>


                  <h3 class="nhsuk-heading-s">What it includes</h3>
                  <div class="nhsuk-grid-row">
                    <div class="nhsuk-grid-column-one-half">
                      <p class="nhsuk-heading-xs">You get free:</p>
                      <ul>
                        <li>
                          NHS prescriptions
                        </li>
                        <li>                    
                          NHS dental check-ups and treatment
                        </li>
                        <li>
                          sight tests
                        </li>
                        <li>
                          NHS wigs and fabric supports
                        </li>
                      </ul> 
                    </div>
  
                    <div class="nhsuk-grid-column-one-half">
                      <p class="nhsuk-heading-xs">You get money off:</p>
                      <ul>
                        <li>
                          new glasses or contact lenses
                        </li>
                        <li>
                          repairing or replacing your glasses or contact lenses
                        </li>
                        <li>
                          travel for NHS treatment
                        </li>
                      </ul> 
                    </div>
                  </div>


                  <h3 class="nhsuk-heading-s">How to get your help</h3>
                  <ul>
                    <li>You will need to complete an application.</li>
                    <li>You can do this online and it should take about 10 minutes.</li>
                  </ul>
                  <a class="nhsuk-action-link" href="#">
                    <svg class="nhsuk-icon nhsuk-icon--arrow-right-circle" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="16" height="16" focusable="false" aria-hidden="true">
                      <path d="M12 2a10 10 0 0 0-10 9h11.7l-4-4a1 1 0 0 1 1.5-1.4l5.6 5.7a1 1 0 0 1 0 1.4l-5.6 5.7a1 1 0 0 1-1.5 0 1 1 0 0 1 0-1.4l4-4H2A10 10 0 1 0 12 2z" />
                    </svg>
                  
                    <span class="nhsuk-action-link__text">Start an online application</span>
                  </a>
                  

                  <details class="nhsuk-details">
                    <summary class="nhsuk-details__summary">
                      <span class="nhsuk-details__summary-text">
                        Other ways to apply
                      </span>
                    </summary>
                    <div class="nhsuk-details__text">
                      <p>You can apply by post using an HC1(SC) form.</p>
                      <p>Find out <a href="h">how to get an HC1(SC) form (opens in new tab)</a>.</p>
                </div>
                  </details>
                  

                  <p><a href="https://apply-for-help-with-nhs-costs.nhsbsa.nhs.uk/apply-online" target="_blank" rel="noopener">Find out more about NHS Low Income Scheme (opens in new tab)</a></p>
          
            </div>
          </div>


          <div class="nhsuk-card nhsuk-card--care nhsuk-card--care--non-urgent">
      
            <div class="nhsuk-card__content">
    
              <strong class="nhsuk-tag app-example__heading_2">Good to know</strong>
    
                <h2 class="nhsuk-heading-m" style="margin-top: 10px;">
                    Get help to buy food and milk (Healthy Start)
                  </h2>
    
                  <p>You may be able to get Healthy Start if you're at least 10 weeks pregnant or have children under 4.</p>
    
         
                  <p>You could get:</p>
          
                  <ul class="nhsuk-list nhsuk-list--bullet">
                    <li>{{ data.HealthyStart10WeeksCost }} for each week of your pregnancy from 10 weeks.</li>
                    <li>{{ data.HealthyStart0to1Cost }} each week for children from birth to 1 year old.</li>
                    <li>{{ data.HealthyStart1to4Cost }} each week for children between 1 and 4 years old.</li>
                  </ul>
    
                  <h3 class="nhsuk-heading-s">What it includes</h3>
                  <ul>
                    <li>NHS Healthy Start prepaid card for healthy food and milk.</li>
                    <li>free vitamin supplements.</li>
                  </ul>
                      
                  <p>Find out more about who qualifies and <a href="https://www.healthystart.nhs.uk/" target="_blank" rel="noopener">apply for Healthy Start (opens in new tab)</a>.</p>
          
            </div>
          </div>



        <h2 class="nhsuk-heading-m">Feedback</h2>

        <p>Help us improve by telling us about your experience. <a href="https://www.snapsurveys.com/wh/s.asp?k=150212725926" target="_blank" rel="noopener">Take our short survey (opens in new tab)</a>.</p>

        <p>The survey will take less than a minute to complete.</p>

    </div>
</div>

{% endblock %}