{% extends 'layout.html' %}

{% block pageTitle %}
Question page
{% endblock %}

{% block beforeContent %}

{% endblock %}

{% block content %}
<div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">

          <div class="nhsuk-panel">
            <h1 class="nhsuk-panel__title" style="text-align: left;">
              Check complete
            </h1>
            <div class="nhsuk-panel__body" style="text-align: left;">
              Based on what you've told us, you could get help to pay for your NHS costs
            </div>
          </div>

          <strong class="nhsuk-tag nhsuk-tag--grey" style="margin-bottom: 10px;">
            Recommended
          </strong>
          <h2 class="nhsuk-heading-l">Universal Credit</h2>
            <p>You get Universal Credit and your total take-home pay was less than £935 in this assessment period.</p>

        <div class="nhsuk-inset-text">
          <span class="nhsuk-u-visually-hidden">Information: </span>
          <p>Your partner and any children under 20 included on your Universal Credit claim are also covered.</p>
        </div>

        <h3 class="nhsuk-heading-m">What it includes</h3>

        <div class="nhsuk-do-dont-list">
          <h3 class="nhsuk-do-dont-list__label">Free</h3>
          <ul class="nhsuk-list nhsuk-list--tick" role="list">
            <li>
              <svg class="nhsuk-icon nhsuk-icon--tick" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="16" height="16" focusable="false" aria-hidden="true">
                <path d="M11.4 18.8a2 2 0 0 1-2.7.1h-.1L4 14.1a1.5 1.5 0 0 1 2.1-2L10 16l8.1-8.1a1.5 1.5 0 1 1 2.2 2l-8.9 9Z" />
              </svg>
        
              NHS prescriptions
            </li>
            <li>
              <svg class="nhsuk-icon nhsuk-icon--tick" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="16" height="16" focusable="false" aria-hidden="true">
                <path d="M11.4 18.8a2 2 0 0 1-2.7.1h-.1L4 14.1a1.5 1.5 0 0 1 2.1-2L10 16l8.1-8.1a1.5 1.5 0 1 1 2.2 2l-8.9 9Z" />
              </svg>
        
              NHS dental check-ups and treatment
            </li>
            <li>
              <svg class="nhsuk-icon nhsuk-icon--tick" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="16" height="16" focusable="false" aria-hidden="true">
                <path d="M11.4 18.8a2 2 0 0 1-2.7.1h-.1L4 14.1a1.5 1.5 0 0 1 2.1-2L10 16l8.1-8.1a1.5 1.5 0 1 1 2.2 2l-8.9 9Z" />
              </svg>
        
              sight tests
            </li>
            <li>
              <svg class="nhsuk-icon nhsuk-icon--tick" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="16" height="16" focusable="false" aria-hidden="true">
                <path d="M11.4 18.8a2 2 0 0 1-2.7.1h-.1L4 14.1a1.5 1.5 0 0 1 2.1-2L10 16l8.1-8.1a1.5 1.5 0 1 1 2.2 2l-8.9 9Z" />
              </svg>
        
              NHS wigs and fabric supports
            </li>
          </ul>
        </div>
        
        <div class="nhsuk-do-dont-list">
          <h3 class="nhsuk-do-dont-list__label">Money off</h3>
          <ul class="nhsuk-list nhsuk-list--cross" role="list">
            <li>
              <svg class="nhsuk-icon nhsuk-icon--dash" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="16" height="16" focusable="false" aria-hidden="true">
                <rect x="4" y="11" width="18" height="4" rx="2" ry="2" fill="#ed8b00" />
              </svg>
        
              you get money off new glasses or contact lenses
            </li>
            <li>
              <svg class="nhsuk-icon nhsuk-icon--dash" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="16" height="16" focusable="false" aria-hidden="true">
                <rect x="4" y="11" width="18" height="4" rx="2" ry="2" fill="#ed8b00" />
              </svg>
        
              you get money off repairing or replacing glasses or contact lenses
            </li>
            <li>
              <svg class="nhsuk-icon nhsuk-icon--dash" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="16" height="16" focusable="false" aria-hidden="true">
                <rect x="4" y="11" width="18" height="4" rx="2" ry="2" fill="#ed8b00" />
              </svg>
        
              you get money off travel for NHS treatment
            </li>
          </ul>
        </div>


        <div class="nhsuk-warning-callout">
          <h3 class="nhsuk-warning-callout__label"> <span role="text">
              <span class="nhsuk-u-visually-hidden">Important: </span>
              Warning
            </span> </h3>
          <p>Your total take-home pay changes each assessment period. To avoid any possible penalty charge, check before you claim.</p>
        </div>


        <h3 class="nhsuk-heading-m">How to get your help</h3>
        <p>Use your help when you get NHS care. If you're asked for proof, show your latest Universal Credit award notice (either the letter or on your online account) to your pharmacist, optician or dentist.</p>




          <h2 class="nhsuk-heading-m">
            If you have children under 4 years old
          </h2>
          
          <p>You may be able to get help to buy healthy food and milk as part of the Healthy Start scheme.</p>
          
          <p>You could get:</p>
          
          <ul class="nhsuk-list nhsuk-list--bullet">
            <li>{{ data.HealthyStart0to1Cost }} each week for children from birth to 1 year old.</li>
            <li>{{ data.HealthyStart1to4Cost }} each week for children between 1 and 4 years old.</li>
          </ul>

          <p>You could also get free vitamin supplements.</p>
          
          <p>Find out more about who qualifies and <a href="https://www.healthystart.nhs.uk/" target="_blank" rel="noopener">apply for Healthy Start (opens in new tab)</a>.</p>


        <h2 class="nhsuk-heading-m">Feedback</h2>

        <p>Help us improve by telling us about your experience. <a href="https://www.snapsurveys.com/wh/s.asp?k=150212725926" target="_blank" rel="noopener">Take our short survey (opens in new tab)</a>.</p>

        <p>The survey will take less than a minute to complete.</p>

    </div>
</div>

{% endblock %}