{% extends 'layout.html' %}

{% block pageTitle %}
Question page
{% endblock %}

{% block beforeContent %}
  {{ backLink({
    "href": "javascript:history.go(-1)",
    "text": "Go back"
  }) }}


  <style>
      .nhsuk-back-link {
        padding-top: 5px;
        padding-bottom: 10px;
        margin-bottom: -40px;
      }

            /* Mobile devices */
            @media (max-width: 767px) {
      .nhsuk-back-link {
        padding-bottom: 30px;
        }
      }

  </style>
{% endblock %}

{% block content %}
<div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">

          <div class="nhsuk-panel">
            <h1 class="nhsuk-panel__title" style="text-align: left;">
              Check complete
            </h1>
            <div class="nhsuk-panel__body" style="text-align: left;">
              Based on what you've told us, you could get help to pay for your NHS costs
            </div>
          </div>

          <ul class="nhsuk-grid-row nhsuk-card-group">
            <li class="nhsuk-grid-column-one-half nhsuk-card-group__item">
              <div class="nhsuk-card nhsuk-card--clickable">
                <div class="nhsuk-card__content nhsuk-card__content--primary">
                  <h2 class="nhsuk-card__heading nhsuk-heading-m">
                    <a class="nhsuk-card__link" href="https://apply-for-help-with-nhs-costs.nhsbsa.nhs.uk/apply-online">Apply for further help</a>
                  </h2>
                  <p class="nhsuk-card__description">You could be entitled to further help depending on your circumstances.
                    You can apply for help to pay for your NHS costs.</p>
                  <svg class="nhsuk-icon" xmlns="http://www.w3.org/2000/svg" width="27" height="27" aria-hidden="true" focusable="false">
                    <circle cx="13.333" cy="13.333" r="13.333" fill="" />
                    <g fill="none" stroke="#fff" stroke-linecap="round" stroke-miterlimit="10" stroke-width="2.667">
                      <path d="M15.438 13l-3.771 3.771" />
                      <path d="M11.667 9.229L15.438 13" />
                    </g>
                  </svg>
                </div>
              </div>
            </li>


            <li class="nhsuk-grid-column-one-half nhsuk-card-group__item">
          
              <div class="nhsuk-card nhsuk-card--clickable">
                <div class="nhsuk-card__content nhsuk-card__content--primary">
                  <h2 class="nhsuk-card__heading nhsuk-heading-m"> <a class="nhsuk-card__link" href="https://ppc-new.herokuapp.com/updated-full-journey/v8/start">Prescription Prepayment Certificate (PPC)</a> </h2>
                  <p class="nhsuk-card__description">You can pay a set price for prescriptions for 3 or 12 months, no matter how many you need.</p> <svg class="nhsuk-icon" xmlns="http://www.w3.org/2000/svg" width="27" height="27" aria-hidden="true" focusable="false">
                    <circle cx="13.333" cy="13.333" r="13.333" fill="" />
                    <g fill="none" stroke="#fff" stroke-linecap="round" stroke-miterlimit="10" stroke-width="2.667">
                      <path d="M15.438 13l-3.771 3.771" />
                      <path d="M11.667 9.229L15.438 13" />
                    </g>
                  </svg>
                </div>
              </div>
          
            </li>
            <li class="nhsuk-grid-column-one-half nhsuk-card-group__item">
          
              <div class="nhsuk-card nhsuk-card--clickable">
                <div class="nhsuk-card__content nhsuk-card__content--primary">
                  <h2 class="nhsuk-card__heading nhsuk-heading-m"> <a class="nhsuk-card__link" href="https://hrt-ppc.herokuapp.com/v12/start">HRT Prescription Prepayment Certificate (HRT PPC)</a> </h2>
                  <p class="nhsuk-card__description">You can pay a set price for an unlimited number of certain HRT prescriptions for 12 months.</p> <svg class="nhsuk-icon" xmlns="http://www.w3.org/2000/svg" width="27" height="27" aria-hidden="true" focusable="false">
                    <circle cx="13.333" cy="13.333" r="13.333" fill="" />
                    <g fill="none" stroke="#fff" stroke-linecap="round" stroke-miterlimit="10" stroke-width="2.667">
                      <path d="M15.438 13l-3.771 3.771" />
                      <path d="M11.667 9.229L15.438 13" />
                    </g>
                  </svg>
                </div>
              </div>
          
            </li>

            <li class="nhsuk-grid-column-one-half nhsuk-card-group__item">
          
              <div class="nhsuk-card nhsuk-card--clickable">
                <div class="nhsuk-card__content nhsuk-card__content--primary">
                  <h2 class="nhsuk-card__heading nhsuk-heading-m"> <a class="nhsuk-card__link" href="https://www.healthystart.nhs.uk/">Get help to buy food and milk (Healthy Start)</a> </h2>
                  <p class="nhsuk-card__description">If you have children under 4 years old, you may be able to get help to buy healthy food and milk.</p> <svg class="nhsuk-icon" xmlns="http://www.w3.org/2000/svg" width="27" height="27" aria-hidden="true" focusable="false">
                    <circle cx="13.333" cy="13.333" r="13.333" fill="" />
                    <g fill="none" stroke="#fff" stroke-linecap="round" stroke-miterlimit="10" stroke-width="2.667">
                      <path d="M15.438 13l-3.771 3.771" />
                      <path d="M11.667 9.229L15.438 13" />
                    </g>
                  </svg>
                </div>
              </div>
          
            </li>
          </ul>


        <h2 class="nhsuk-heading-m">Feedback</h2>

        <p>Help us improve by telling us about your experience. <a href="https://www.snapsurveys.com/wh/s.asp?k=150212725926" target="_blank" rel="noopener">Take our short survey (opens in new tab)</a>.</p>

        <p>The survey will take less than a minute to complete.</p>

    </div>
</div>

{% endblock %}