{% extends 'layout.html' %} {% block pageTitle %} Question page {% endblock %}
{% block content %}
<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-two-thirds">
    {{ backLink({ "href": "javascript:history.go(-1)", "text": "Go back" }) }}
    {% if data['partner'] == "no" %}
    <h1 class="nhsuk-fieldset__legend--l">
      What was your take-home pay for your last Universal Credit monthly
      assessment period?
    </h1>
    {% endif %} {% if data['partner'] == "yes" %}
    <h1 class="nhsuk-fieldset__legend--l">
      What was your take-home pay for your last Universal Credit monthly
      assessment period?
    </h1>
    {% endif %}
  </div>

  <div class="nhsuk-grid-column-full">
    <form action="universal-credit-take-home-pay" method="post">
      <div class="nhsuk-form-group">
        <fieldset class="nhsuk-fieldset" aria-describedby="example-hint">
          <p>
            If you or your partner are working, your take-home pay is used to
            calculate how much Universal Credit you get. Take-home pay is what's
            left after tax, National Insurance and any pension contributions
            have been deducted.
            <br /><br />
            We use this amount to work out what help with health costs you could
            receive. If you don’t work, then your take-home pay will be £0.
          </p>

          <details class="nhsuk-details">
            <summary class="nhsuk-details__summary">
              <span class="nhsuk-details__summary-text">
                Where to find your take-home pay
              </span>
            </summary>
            <div class="nhsuk-details__text">
              <div class="nhsuk-grid-row">
                <div class="nhsuk-grid-column-one-half">
                  <div
                    class="nhsuk-care-card nhsuk-care-card--non-urgent nhsuk-u-margin-top-0 nhsuk-u-margin-bottom-0"
                  >
                    <div class="nhsuk-care-card__heading-container">
                      <h3 class="nhsuk-care-card__heading">
                        <span role="text"
                          >If you have a Universal Credit account online</span
                        >
                      </h3>
                      <span
                        class="nhsuk-care-card__arrow"
                        aria-hidden="true"
                      ></span>
                    </div>
                    <div class="nhsuk-care-card__content">
                      <p>
                        Your take-home pay is shown on your online Statement.
                      </p>
                      <p>
                        It's under the heading
                        <strong>'Other support you may be able to get'</strong>.
                      </p>
                      <br />

                      <img
                        class="nhsuk-image__img"
                        src="/images/uc-statement-online.svg"
                        alt="Example of online Universal Credit statement"
                      />
                    </div>
                  </div>
                </div>
                <div class="nhsuk-grid-column-one-half">
                  <div
                    class="nhsuk-care-card nhsuk-care-card--non-urgent nhsuk-u-margin-top-0 nhsuk-u-margin-bottom-0"
                  >
                    <div class="nhsuk-care-card__heading-container">
                      <h3 class="nhsuk-care-card__heading">
                        <span role="text"
                          >If you get a monthly Universal Credit payment
                          letter</span
                        >
                      </h3>
                      <span
                        class="nhsuk-care-card__arrow"
                        aria-hidden="true"
                      ></span>
                    </div>
                    <div class="nhsuk-care-card__content">
                      <p>
                        Your take-home pay is shown on your Universal Credit
                        monthly payment letter.
                      </p>
                      <p>
                        It's usually on page 2 under the heading
                        <strong
                          >'3. We then take account of your take-home
                          pay'</strong
                        >.
                      </p>

                      <img
                        class="nhsuk-image__img"
                        src="/images/uc-letter-statement.svg"
                        alt="Example of monthly Universal Credit payment letter"
                      />

                      <br />
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </details>
          <!-- <div class="nhsuk-radios nhsuk-radios--inline">
                        <div class="nhsuk-radios__item">
                            <input class="nhsuk-radios__input" id="yes" name="universal-credit-take-home-pay" type="radio"
                                value="yes">
                            <label class="nhsuk-label nhsuk-radios__label" for="yes">
                                Yes
                            </label>
                        </div>
                        <div class="nhsuk-radios__item">
                            <input class="nhsuk-radios__input" id="no" name="universal-credit-take-home-pay" type="radio" value="no">
                            <label class="nhsuk-label nhsuk-radios__label" for="no">
                                No
                            </label>
                        </div>
                    </div> -->
          <div class="nhsuk-form-group">
            <br />
            <label class="nhsuk-label" for="input-width-10">
              What was your take-home pay for your last monthly assessment
              period?
            </label>
            <div class="nhsuk-hint" id="example-with-hint-text-hint">
              For example, 500.00
            </div>
            £
            <input
              class="nhsuk-input nhsuk-input--width-10"
              id="take-home-pay"
              name="test-width-10"
              type="text"
            />
          </div>
        </fieldset>
      </div>
      <script>
        /* const pay = getElementById('take-home-pay');
        if (pay <= 935){
            getElementById('continue-button')
        } */
        const pay = document.getElementById("take-home-pay");
        function urlSet (payValue) {
          if ( Number(pay.value) <= 935)
          document.getElementById('continue-button').href = "are-you-sure";
        } else {
          document.getElementById('continue-button').href = "www.google.com";
        }

        const 
        if (pay.value <= 935) {
          document.getElementById("continue-button"); //or grab it by tagname etc
          a.href = "pregnant-or-given-birth";
        }
      </script>
      <button class="nhsuk-button" id="continue-button" type="submit" onclick='urlSet()'> Continue </button>
    </form>
  </div>
</div>

{% endblock %}
