{% extends 'layout.html' %}

{% block pageTitle %}
Question page
{% endblock %}

{% block beforeContent %}
 {{ backLink({
    href: 'javascript:history.go(-1)',
    text: 'Back'
  }) }}
{% endblock %}

{% block content %}
<div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">

        {% if data['partner'] == "no" %}
        <h1 class="nhsuk-fieldset__legend--l">
            Do you get paid Universal Credit?
        </h1>
        {% endif %}

        {% if data['partner'] == "yes" %}
        <h1 class="nhsuk-fieldset__legend--l">
            Do you or your partner get paid Universal Credit?
        </h1>
        {% endif %}

         <form action="universal-credit" method="post">

            <div class="nhsuk-form-group">

                <fieldset class="nhsuk-fieldset" aria-describedby="example-hint">

                    {% if data['partner'] == "no" %}
                    <div class="nhsuk-radios">
                        <div class="nhsuk-radios__item">
                            <input class="nhsuk-radios__input" id="universal-credit-yes" name="universal-credit"
                                type="radio" value="yes">
                            <label class="nhsuk-label nhsuk-radios__label" for="universal-credit-yes">
                                Yes, I receive Universal Credit payment
                            </label>
                        </div>
                        <div class="nhsuk-radios__item">
                            <input class="nhsuk-radios__input" id="universal-credit-not-yet" name="universal-credit"
                                type="radio" value="not-yet">
                            <label class="nhsuk-label nhsuk-radios__label" for="universal-credit-not-yet">
                                Not yet, but I've applied
                            </label>
                        </div>
                        <div class="nhsuk-radios__divider">or</div>
                        <div class="nhsuk-radios__item">
                            <input class="nhsuk-radios__input" id="universal-credit-no" name="universal-credit"
                                type="radio" value="no">
                            <label class="nhsuk-label nhsuk-radios__label" for="universal-credit-no">
                                No, I get a different benefit
                            </label>
                        </div>
                    </div>
                    {% endif %}

                    {% if data['partner'] == "yes" %}
                    <div class="nhsuk-radios">
                        <div class="nhsuk-radios__item">
                            <input class="nhsuk-radios__input" id="universal-credit-yes" name="universal-credit"
                                type="radio" value="yes">
                            <label class="nhsuk-label nhsuk-radios__label" for="universal-credit-yes">
                                Yes, we receive Universal Credit payment
                            </label>
                        </div>
                        <div class="nhsuk-radios__item">
                            <input class="nhsuk-radios__input" id="universal-credit-not-yet" name="universal-credit"
                                type="radio" value="not-yet">
                            <label class="nhsuk-label nhsuk-radios__label" for="universal-credit-not-yet">
                                Not yet, but we've applied
                            </label>
                        </div>
                        <div class="nhsuk-radios__divider">or</div>
                        <div class="nhsuk-radios__item">
                            <input class="nhsuk-radios__input" id="universal-credit-no" name="universal-credit"
                                type="radio" value="no">
                            <label class="nhsuk-label nhsuk-radios__label" for="universal-credit-no">
                                No, we get a different benefit
                            </label>
                        </div>
                    </div>
                    {% endif %}


                </fieldset>



            </div>

            <button class="nhsuk-button" type="submit">
                Continue
            </button>

        </form>

    </div>
</div>

{% endblock %}