{% extends 'layout.html' %}

{% block pageTitle %}
Question page
{% endblock %}

{% block content %}
<div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">

        {{ backLink({
            "href": "javascript:history.go(-1)",
            "text": "Go back"
        }) }}

        {% if data['partner'] == "no" %}
            <h1 class="nhsuk-fieldset__legend--l">
                    Do you have more than {% if data['local-council-assessed'] == "no" %}£23,250{% else %}£16,000{% endif %} in savings, investments or property?
            </h1>
        {% endif %}

        {% if data['partner'] == "yes" %}
            <h1 class="nhsuk-fieldset__legend--l">
                    Do you and your partner have more than {% if data['local-council-assessed'] == "no" %}£23,250{% else %}£16,000{% endif %} in savings, investments or property?
            </h1>
        {% endif %}

        <form action="/v2/check-for-help-paying-nhs-costs/savings" method="post">

            <div class="nhsuk-form-group">

                <fieldset class="nhsuk-fieldset" aria-describedby="example-hint">

                        <span class="nhsuk-hint" id="example-hint">
                            <p>The property you live in doesn't count.</p>
                        </span>

                    <div class="nhsuk-radios nhsuk-radios--inline">
                        <div class="nhsuk-radios__item">
                            <input class="nhsuk-radios__input" id="yes" name="savings" type="radio" value="yes">
                            <label class="nhsuk-label nhsuk-radios__label" for="yes">
                                Yes
                            </label>
                        </div>
                        <div class="nhsuk-radios__item">
                            <input class="nhsuk-radios__input" id="no" name="savings" type="radio" value="no">
                            <label class="nhsuk-label nhsuk-radios__label" for="no">
                                No
                            </label>
                        </div>
                    </div>
                </fieldset>



            </div>

            <button class="nhsuk-button" type="submit">
                Continue
            </button>

        </form>

    </div>
</div>

{% endblock %}