{% extends 'layout.html' %}

{% block pageTitle %}
Question page
{% endblock %}

{% block content %}
<div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">

        {{ backLink({
            "href": "javascript:history.go(-1)",
            "text": "Go back"
        }) }}

        <h1 class="nhsuk-fieldset__legend--l">
            Do you live with a partner?
        </h1>

         <form action="partner" method="post">

            <div class="nhsuk-form-group">

                <fieldset class="nhsuk-fieldset" aria-describedby="example-hint">

                        <span class="nhsuk-hint" id="example-hint">
                            This means you live together as a couple, you don't have to be married or in a civil partnership.
                        </span>

                    <div class="nhsuk-radios nhsuk-radios--inline">
                        <div class="nhsuk-radios__item">
                            <input class="nhsuk-radios__input" id="yes" name="partner" type="radio" value="yes">
                            <label class="nhsuk-label nhsuk-radios__label" for="yes">
                                Yes
                            </label>
                        </div>
                        <div class="nhsuk-radios__item">
                            <input class="nhsuk-radios__input" id="no" name="partner" type="radio" value="no">
                            <label class="nhsuk-label nhsuk-radios__label" for="no">
                                No
                            </label>
                        </div>
                    </div>
                </fieldset>



            </div>

            <button class="nhsuk-button" type="submit">
                Continue
            </button>

        </form>

    </div>
</div>

{% endblock %}