<!-- Use this page as the index for your project -->

<!-- ADDING CUSTOM CSS - Add your custom CSS or Sass in /app/assets/sass/main.scss -->

<!-- Extends the layout from /views/layout.html -->
{% extends 'layout.html' %}
<!-- 
  In /views/layout.html you can:
    - change the header and footer 
    - add custom CSS and JavaScript
-->

<!-- Set the page title inside the pageTitle block -->
{% block pageTitle %}
NHS.UK prototype kit
{% endblock %}

<!-- Breadcrumb goes inside the beforeContent block -->
{% block beforeContent %}
{% endblock %}

<!-- Your page content goes inside the content block -->
<!-- More info and code for the page layout can be found at https://beta.nhs.uk/service-manual/styles-components-patterns/layout -->
{% block content %}
<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-full">

    <!-- Change the page title here -->
    <h1>
      Eligibility checker
      <span class="nhsuk-caption-xl nhsuk-caption--bottom">Version 2.0</span>
    </h1>

    <!-- Add your content here -->
    <!-- Styles and components can be found at https://beta.nhs.uk/service-manual/styles-components-patterns -->

    <p class="nhsuk-body-l">
      Although most NHS treatment is free, there are usually charges for prescriptions. Depending on a persons
      circumstances, they could be entitled to help with these costs.
    </p>

    <p class="nhsuk-body-l">
      The eligibility checker determines what help they may be eligibile for.
    </p>

    <div class="nhsuk-tabs" data-module="nhsuk-tabs">
      <h2 class="nhsuk-tabs__title">
        Contents
      </h2>
    
      <ul class="nhsuk-tabs__list">
    
        <li class="nhsuk-tabs__list-item nhsuk-tabs__list-item--selected">
          <a class="nhsuk-tabs__tab" href="#EligibilityCheckerMVP">
            Eligibility Checker (MVP)
          </a>
        </li>
    
        <li class="nhsuk-tabs__list-item">
          <a class="nhsuk-tabs__tab" href="#ResearchPrototypes">
            Research Prototypes
          </a>
        </li>
    
      </ul>

       <!-- ----------------------------  Eligibility Checker MVP ------------------------------ -->

      <div class="nhsuk-tabs__panel" id="EligibilityCheckerMVP">
        <h2 class="nhsuk-heading-l">Eligibility Checker MVP Latest Version
        </h2>

        <div class="nhsuk-grid-row">
          <div class="nhsuk-grid-column-one-half">
            <a class="nhsuk-button" data-module="nhsuk-button" type="submit" href="/v2/check-for-help-paying-nhs-costs/start">Latest prototype version (v2.0)</a>
          </div>
          <div class="nhsuk-grid-column-one-half">
            <p style="padding-top:12px;">Last Updated 13th March 2025</p>
          </div>
        </div>

        <h3 class="nhsuk-heading-m">What's new in v2.0</h3>

        <p style="background: #DEE0E2; padding: 20px;">
          
          <strong>An extensive review</strong> of the surrent prototype led to the conclusion that restructuring was required in order to improve version control and to update the prototype kit to the latest version.
          <br><br>
          A review and restruscture of the index page was also carried out adding sections for research and improving handover for research sessions.
          </p>
          <ul class="nhsuk-list nhsuk-list--bullet">
            <li>
              Restructured the routing of prototypes for easier management
            </li>
            <li>
              Added a research section for current prototype pages in test
            </li>
            <li>
              Added missing pages
            </li>
            <li>
              Fixed error pages not displaying
            </li>
            <li>
              Added routing to done page when navigating from universal credit pages to display correct content
            </li>
            <li>
              Removed mentions of tax credits from relevant pages
            </li>
            <li>
              Pension credit price uplift 2025
            </li>
          </ul>
        <hr>
        <h3 class="nhsuk-heading-m">Version History</h3>
        
         <!-- ----------------------------  Expander v1.0 ------------------------------ -->

        <details class="nhsuk-details nhsuk-expander">
          <summary class="nhsuk-details__summary">
            <span class="nhsuk-details__summary-text">
              Sprint 65
            </span>
          </summary>

          <div class="nhsuk-details__text">

            <a class="nhsuk-button nhsuk-button--secondary" data-module="nhsuk-button" type="submit" href="/v1/check-for-help-paying-nhs-costs/start">
              View prototype version (v1.0)
            </a>

            <h2 class="nhsuk-heading-l">Using NHS.UK design system for eligibility checker
            </h2>
            <h3 class="nhsuk-heading-m">Hypothesis A</h3>
            <p style="background: #DEE0E2; padding: 20px;"><strong>We
                believe</strong> that using the NHS.UK design system for the eligibility checker
              <strong>will
                be a useful feature for</strong> every applicant who is applying for help with their health costs
              <strong>as it will</strong> reassure them that the eligibilty checker is a part of the wider group of
              NHS services. <strong>This
                will</strong>
              help users accomplish their needs more efficiently due to the fact we are now being more consistant.
            </p>
    
            <p>The NHS Identity is one of the most cherished and recognised brands in the world. When applied correctly and
              consistently, it evokes exceptionally high levels of trust and reassurance.</p>
    
            <p>By using NHS Business Services Authority branding for each patient facing service, we are unknowingly diluting
              the power of the NHS brand.</p>
    
            <p>In short, by being more consistant with <a href="https://www.nhs.uk/">NHS.UK</a>, usability and learnability
              will improve because we will be using similar elements which look and function in similar way. </p>
            <hr>
            <h3 class="nhsuk-heading-m">What we changed:</h3>
            <ul class="nhsuk-list nhsuk-list--bullet">
              <li>We replicated the current eligibility checker into the NHS.UK design system.</li>
              <li>After <a href="/images/cjforms-conversation.png">speaking to</a> Caroline Jarrett (<a href="https://twitter.com/cjforms" target="_blank">@cjforms</a>), we amended the Universal Credit conditional reveal to forward off to a seperate page. This not only gets round the fact that conditional reveals are not available in the NHS.UK design system, but also helps improve usability from an accessibility point of view.</li>
            </ul>
            <h3 class="nhsuk-heading-m">What we plan to test:</h3>
            <ul class="nhsuk-list nhsuk-list--bullet">
              <li>Do users still successfully check what help they can receive with their health costs?</li>
              <li>Does usability improve because we are now being more consistant with the wider NHS?</li>
              <li>As a bonus of adopting the new design system, are we now more accessible than we were previously?</li>
            </ul>
            <h3 class="nhsuk-heading-m">What we found:</h4>
              <ul class="nhsuk-list nhsuk-list--bullet">
                <li>...</li>
              </ul>
              <h3 class="nhsuk-heading-m">Known issues:</h4>
                <p>There are no NHS.UK alternatives to the following GDS / BSA components:</p>
                <ul class="nhsuk-list nhsuk-list--number">
                  <li><a target="_blank" href="https://design-system.service.gov.uk/components/radios/#conditionally-revealing-content">Conditionally revealing content</a></li>
                  <li><a target="_blank" href="/images/bsa-invitation-screens.png">Invitation pages</a></li>
                  <li><a target="_blank" href="https://design-system.service.gov.uk/patterns/confirmation-pages/">Confirmation pages</a></li>
                </ul>

    
          </div>
        </details>
    
      </div>

       <!-- ----------------------------  Research Tab ------------------------------ -->

      <div class="nhsuk-tabs__panel nhsuk-tabs__panel--hidden" id="ResearchPrototypes">


          <h2 class="nhsuk-heading-l">August 2024 User Research A/B Testing
          </h2>
          <a class="nhsuk-button" data-module="nhsuk-button" type="submit" href="/research/august-2024/route-a/start">
            Research Prototype Route A
          </a>
          <a class="nhsuk-button nhsuk-button--secondary" data-module="nhsuk-button" type="submit" href="/research/august-2024/route-b/start">
            Research Prototype Route B
          </a>
          <h3 class="nhsuk-heading-m">Research Details</h3>
          <p style="background: #DEE0E2; padding: 20px;">The purpose of this round of UR is to compare user feedback about two proposed wording changes for Universal Credit, part of the User Journey for Eligibility Checker.
 
            Participants who are recipients of Universal Credit will complete three user tasks: 'As Is', followed by a subsequent A/B testing component to compare the two proposed sets of wording, so that we can understand which version is most beneficial for our users.
          </p>

          <div class="nhsuk-grid-row">
            <div class="nhsuk-grid-column-one-half">
              <h4>Affected pages</h4>
              <p>
                <a href="https://hwhc-eligibility-checker.herokuapp.com/research/august-2024/route-a/universal-credit-take-home-pay">universal-credit-take-home-pay.html - Route A Content Changes</a>
                <br>
                <br>
                <a href="https://hwhc-eligibility-checker.herokuapp.com/research/august-2024/route-b/universal-credit-take-home-pay">universal-credit-take-home-pay.html - Route B Content Changes</a>
            </p>
              
            </div>

            <div class="nhsuk-grid-column-one-half">
              <h4>Research sessions took place:</h4>
              <ul>
                <li>5th August 2024</li>
                <li>14th August 2024</li>
                <li>16th August 2024</li>
              </ul>
              
            </div>
            <hr>
          </div>
          

          <h3 class="nhsuk-heading-m">Research History</h3>
        
          <!-- ----------------------------  Expander v1.0 ------------------------------ -->

          </div>

      </div>
    
    </div>



    <!-- End of content -->

  </div>
</div>
{% endblock %}