{% extends 'layout.html' %}

{% block pageTitle %}
Question page
{% endblock %}

{% block beforeContent %}
 {{ backLink({
    href: 'javascript:history.go(-1)',
    text: 'Go back'
  }) }}
{% endblock %}

{% block content %}

<div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">

        <div class="done-panel">

            <h1 class="nhsuk-heading-xl" id="completed">
                <span class="done-tick" id="done-tick">Done</span>
              </h1>
                
            <h2 class="nhsuk-panel__title" style="color: white;">
                Based on what
                you've told us you can get help with NHS costs
            </h2>
            <!--
                              <div class="nhsuk-panel__body">
                                Your reference number<br><strong>HDJ2123F</strong>
                              </div>
                              -->
        </div>

        {% if data['partner'] == "no" %}
        <h1 class="nhsuk-caption-l nhsuk-u-margin-bottom-4">Because you get Universal Credit and your take-home pay was less than £935.00:</h1>
        {% endif %}

        {% if data['partner'] == "yes" %}
        <h1 class="nhsuk-caption-l nhsuk-u-margin-bottom-4">Because you or your partner get Universal Credit and your take-home pay was less than £935.00:</h1>
        {% endif %}
				
        <h2 class="nhsuk-heading-m">You get free:</h2>

        <ul class="nhsuk-list nhsuk-list--tick">
            <li>
                <svg class="nhsuk-icon nhsuk-icon__tick" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"
                    fill="none" aria-hidden="true">
                    <path stroke-width="4" stroke-linecap="round" d="M18.4 7.8l-8.5 8.4L5.6 12"></path>
                </svg>
                NHS prescriptions
            </li>
            <li>
                <svg class="nhsuk-icon nhsuk-icon__tick" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"
                    fill="none" aria-hidden="true">
                    <path stroke-width="4" stroke-linecap="round" d="M18.4 7.8l-8.5 8.4L5.6 12"></path>
                </svg>
                NHS dental check-ups and treatment
            </li>
            <li>
                <svg class="nhsuk-icon nhsuk-icon__tick" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"
                    fill="none" aria-hidden="true">
                    <path stroke-width="4" stroke-linecap="round" d="M18.4 7.8l-8.5 8.4L5.6 12"></path>
                </svg>
                sight tests
            </li>
            <li>
                <svg class="nhsuk-icon nhsuk-icon__tick" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"
                    fill="none" aria-hidden="true">
                    <path stroke-width="4" stroke-linecap="round" d="M18.4 7.8l-8.5 8.4L5.6 12"></path>
                </svg>
                NHS wigs and fabric supports
            </li>
        </ul>

        <h2 class="nhsuk-heading-m">You get money off:</h2>

        <ul class="nhsuk-list nhsuk-list--tick">
            <li>
                <svg class="nhsuk-icon nhsuk-icon__tick" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"
                    fill="none" aria-hidden="true">
                    <path stroke-width="4" stroke-linecap="round" d="M18.4 7.8l-8.5 8.4L5.6 12"></path>
                </svg>
                new glasses or contact lenses
            </li>
            <li>
                <svg class="nhsuk-icon nhsuk-icon__tick" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"
                    fill="none" aria-hidden="true">
                    <path stroke-width="4" stroke-linecap="round" d="M18.4 7.8l-8.5 8.4L5.6 12"></path>
                </svg>
                repairing or replacing your glasses or contact lenses
            </li>
            <li>
                <svg class="nhsuk-icon nhsuk-icon__tick" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"
                    fill="none" aria-hidden="true">
                    <path stroke-width="4" stroke-linecap="round" d="M18.4 7.8l-8.5 8.4L5.6 12"></path>
                </svg>
                travel for NHS treatment
            </li>
        </ul>


        {% if data['partner'] == "no" %}
        <div class="nhsuk-inset-text">
            <span class="nhsuk-u-visually-hidden">Information: </span>
            <p>Any children under 20 included on your Universal Credit claim are also entitled to the same help.</p>
        </div>
        {% endif %}

        {% if data['partner'] == "yes" %}
        <div class="nhsuk-inset-text">
            <span class="nhsuk-u-visually-hidden">Information: </span>
            <p>Your partner and any children under 20 included on your Income-based Jobseekers Allowance claim are also entitled to the same help.</p>
        </div>
        {% endif %}

        <hr>

        <div class="nhsuk-warning-callout">
            <h4 class="nhsuk-warning-callout__label">Warning</h4>
            <p>Your take-home pay changes each assessment period. To avoid any possible penalty charge, check before you claim.</p>
        </div>

        <h3 class="nhsuk-heading-m">How to get your help</h3>

        <p>In most cases, you don't have to do anything more, although you may have to show proof you get <strong>Income-based Jobseekers Allowance</strong> to your pharmacist, optician or dentist.</p>

        <p>You can use your latest benefit letter or award notice as proof. If you have lost yours contact the <a
                href="https://www.gov.uk/contact-jobcentre-plus/existing-benefit-claims">Jobcentre Plus Helpline</a>.
        </p>

        <h2 class="nhsuk-heading-m">If you're at least 10 weeks pregnant or have children under 4 years old</h2>

        <p>You may be able to get help to buy healthy food and milk as part of the Healthy Start scheme.
            <br><br>
            You could get:</p>

        <ul class="nhsuk-list nhsuk-list--tick">
            <li>
                <svg class="nhsuk-icon nhsuk-icon__tick" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"
                    fill="none" aria-hidden="true">
                    <path stroke-width="4" stroke-linecap="round" d="M18.4 7.8l-8.5 8.4L5.6 12"></path>
                </svg>
                £4.25 each week of your pregnancy from the 10th week
            </li>
            <li>
                <svg class="nhsuk-icon nhsuk-icon__tick" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"
                    fill="none" aria-hidden="true">
                    <path stroke-width="4" stroke-linecap="round" d="M18.4 7.8l-8.5 8.4L5.6 12"></path>
                </svg>
                £8.50 each week for children from birth to 1 year old
            </li>
            <li>
                <svg class="nhsuk-icon nhsuk-icon__tick" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"
                    fill="none" aria-hidden="true">
                    <path stroke-width="4" stroke-linecap="round" d="M18.4 7.8l-8.5 8.4L5.6 12"></path>
                </svg>
                £4.25 each week for children between 1 and 4 years old
            </li>
        </ul>
        <p>You could also get free vitamin supplements.
            <br><br>
            Find out more about <a href="https://www.healthystart.nhs.uk/how-to-apply/">who qualifies for Healthy Start.</a></p>
        <h3 class="nhsuk-heading-m">Feedback</h3>

        <p><a href="https://www.snapsurveys.com/wh/s.asp?k=150212725926">What did you think of this service?</a> (Takes
            30 seconds)</p>








    </div>
</div>

{% endblock %}