{% extends 'layout.html' %}

{% block pageTitle %}
Question page
{% endblock %}

{% block content %}
<div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">

            {{ backLink({
                "href": "javascript:history.go(-1)",
                "text": "Go back"
            }) }}

        {% if data['partner'] == "no" %}
        <h1 class="nhsuk-fieldset__legend--l">
            What type of Pension Credit do you get?
        </h1>
        {% endif %}

        {% if data['partner'] == "yes" %}
        <h1 class="nhsuk-fieldset__legend--l">
            What type of Pension Credit do you or your partner get?
        </h1>
        {% endif %}

        <form action="/v1/check-for-help-paying-nhs-costs/pension-credit-type" method="post">

            <div class="nhsuk-form-group">

                <fieldset class="nhsuk-fieldset" aria-describedby="example-hint">

                        <span class="nhsuk-hint" id="example-hint">
                                Pension Credit is a benefit with 2 parts - Guarantee Credit and Savings Credit.
                        </span>

                        <details class="nhsuk-details">
                                <summary class="nhsuk-details__summary">
                                    <span class="nhsuk-details__summary-text">
                                        I'm not sure which type I get
                                    </span>
                                </summary>
                                <div class="nhsuk-details__text">
                                    <h4>Check your benefit payment letter</h4>
                                    <h5>Guarantee Credit</h5>
                                    <p>Guarantee Credit tops up your weekly income if it's below £255.25.</p>
                                    <h5>Savings Credit</h5>
                                    <p>Savings Credit is an extra payment for people who have saved some money towards their retirement, for example a pension.</p>
                                    <p>The most in Savings Credit you can get per week £15.35.</p>
                                    <p>If you're still unsure contact the <a target="_blank"
                                            href="https://www.gov.uk/contact-pension-service">Pension Service helpline</a>.</p>
                                </div>
                        </details>

                    <div class="nhsuk-radios">
                        <div class="nhsuk-radios__item">
                            <input class="nhsuk-radios__input" id="GC" name="pension-credit-type" type="radio" value="GC">
                            <label class="nhsuk-label nhsuk-radios__label" for="GC">
                                Guarantee Credit only
                            </label>
                        </div>
                        <div class="nhsuk-radios__item">
                            <input class="nhsuk-radios__input" id="GCwithSC" name="pension-credit-type" type="radio" value="GCwithSC">
                            <label class="nhsuk-label nhsuk-radios__label" for="GCwithSC">
                                Guarantee Credit with Savings Credit
                            </label>
                        </div>
                        <div class="nhsuk-radios__item">
                            <input class="nhsuk-radios__input" id="SC" name="pension-credit-type" type="radio" value="SC">
                            <label class="nhsuk-label nhsuk-radios__label" for="SC">
                                    Savings Credit<br>
                                    <span class="nhsuk-hint nhsuk-u-margin-bottom-0">The maximum you can get per week is £15.35</span>
                            </label>
                        </div>
                    </div>
                </fieldset>



            </div>

            <button class="nhsuk-button" type="submit">
                Continue
            </button>

        </form>

    </div>
</div>

{% endblock %}